*{
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
  }

  body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
  }

  body.dark {
    position: relative;
  }

  body{
    // background-image: linear-gradient(80.15deg, #F0E2E0 0%, #F2EAF4 100%);
    // background-size: 100% 229px;
  }
  
  body::before {
  content: "";
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,.4);
    z-index: 10;
    opacity: 1;
  }

  body.dark:before {
    display: block;
  }

  .overflow-hid {
    overflow-y: hidden;
  }
  
  ::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
  
  a:focus,
  button:focus{
    outline: none;
  }
  
  .wrapper{
    margin:0 auto;
    width: 1420px;
  }
  
  
  .header{
    display:flex;
    padding: 6px 56px 0 56px;
    align-items: center;
    justify-content: space-between;
    height:150px;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    z-index:10;
    box-sizing: border-box;
  }
  
  .header.sticky{
    background-color: #F0E2E0;
    height:100px;
  }
  
  .header .logo{
    padding:9px;
  }

  .main{
    min-height: 100vh;
    margin-top: 150px;
  }

  .is-index .main{
    margin-top: 0;
  }
  
  .main-nav{
    margin: 8px auto 0 auto;
    margin-left: 18%;
    transform: translateX(-15px);
    z-index:20;
  }
  
  .main-nav__link{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #111111;
    text-decoration: none;
    // margin: 0 30px;
    // margin-right:56px;
    margin-right: calc(30px + 21 * ((100vw - 1200px) / (1920 - 1200)));
    // @include adaptive-value('margin-right', 56, 10, 3);
    padding: 10px 0;
    position: relative;
    transition: .3s;
  }
  
  .main-nav__link:first-of-type{
    margin-left: 0;
  }
  
  .main-nav__link:last-of-type{
    margin-right: 0;
  }
  
  .main-nav__link--active:after{
    content: "";
    display: block;
    width:100%;
    height: 2px;
    background-color: #755AAF;
    position: absolute;
    bottom: 0;
    left:0;
  }
  
  .main-nav__link:not(.main-nav__link--active):hover{
    color: #A28BD3;
  }
  
  .header__search-block{
    padding-right: 20px;
    border-right: 1px solid #E7DFE8;
  }
  
  .header__search-block img{
    transform: scale(1.1) translateY(3px);;
  }
  
  .header-cart{
    margin-left: 20px;
    display: flex;
    align-items: center;
  }
  
  .header-cart__count{
    color: #fff;
    font-weight: 500;
    background-color: #755AAF;
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
    width:28px;
    height:28px;
    margin-left:10px;
  }
  
  .main-slider-block{
    width:100%;
    box-sizing: border-box;
    overflow-x: hidden;
  }
  
  .main-slider img{
    width:100%;
    height:auto;
  }
  
  .slick-dots{
    position: absolute;
    left:0;
    transform: none;
    bottom: 23%;
    display:flex;
    justify-content: flex-start;
    padding-left:13%;
    list-style: none;
  }
  
  .slick-dots li{
    width: 46px;
    height: 6px;
    background: #111111;
    opacity: 0.1;
    margin-right: 19px;
  }
  
  .slick-dots button{
    display: none;
  }
  
  .slick-dots li.slick-active{
    background: #755AAF;
    opacity: 1;
  }
  
  .services-list{
    margin-top: 130px;
  }
  
  .services-list .wrapper{
    display:flex;
    flex-direction: column;
    align-items: center;
  }
  
  .services-list__title{
    font-weight: 300;
    font-size: 32px;
    line-height: 175%;
    text-transform: uppercase;
    color: #111111;
    position: relative;
    display: inline-flex;
    margin:0 auto;
  }
  
  .services-list__title:before,
  .services-list__title:after{
    content:"";
    display: block;
    height:1px;
    width: 120px;
    background-color: #111111;
    opacity: .5;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
  }
  
  .services-list__title:before{
    left:-150px;
  }
  
  .services-list__title:after{
    right: -150px;
  }
  
  .services-list__block{
    margin-top: 50px;
    display:flex;
    justify-content: space-between;
    width:100%;
    position: relative;
  }
  
  .services-list__list{
    list-style:none;
    text-align: center;
    position: relative;
  }
  
  .services-list__list:after{
    content: "";
    display:block;
    width:100%;
    height:100px;
    position: absolute;
    bottom:0;
    left:-1px;
    background:linear-gradient(to top, rgba(255,255,255,1), rgba(255,255,255,.8));
  }
  
  .services-list_item{
    line-height:74px;
  }
  
  .services-list_item a{
    font-family: 'Yeseva One', cursive;
    font-size: 49px;
    text-align: center;
    color: #111111;
    text-decoration: none;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
  }
  
  .services-list_item a:hover{
    color: #ED4C38;
  } 
  
  .img1-block,
  .img2-block{
    img{
      position: absolute;
      opacity:0;
      transition: opacity .6s;

      &.visible{
        opacity: 1;
      }
    }
  }
  
  .img1-block{
    width: 300px;
    align-self: flex-start;

    img{
      width: 300px;
      height: 300px;
    }
  }
  
  .img2-block{
    align-self: center;
    width: 350px;

    img{
      width: 350px;
      height: 350px;
    }
  }
  
.violet-blur,
.orange-blur{
    content: "";
    width: 150px;
    height: 150px;
    display: block;
    position: absolute;
    bottom:-80px;
    left:-80px;
    background-image: url(../img/violet-blur.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .orange-blur{
    width: 120px;
    height: 120px;
    top: 30px;
    background-image: url(../img/orange-blur.png);
    right:-40px;
    left:auto;
  }
  
  .services-list__look-all,
  .main-catalog__see-all{
    display:block;
    margin:0 auto;
    // font-weight: 600;
    // font-size: 16px;
    // line-height: 68px;
    text-align: center;
  }
  
  // .services-list__look-all:hover,
  // .main-catalog__see-all:hover{
  //   opacity:0.9;
  //   text-decoration: underline solid #DF444D;
  // }
  
  .main-catalog{
    // margin-top: 70px;
    margin-top: 154px;
  }
  
  .section-title{
    font-family: Yeseva One, cursive;
    font-style: normal;
    font-weight: normal;
    // font-size: 42px;
    font-size: 50px;
    color: #111111;
    text-align: center;
    position: relative;
    margin-bottom: 60px;
  }
  
  .section-title:after{
    content: "";
    display: block;
    width:206px;
    height:25px;
    background-image: url(../img/title-after.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: -42px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  
  .main-catalog__list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 90px;
  }
  
  .main-catalog__item{
    flex:calc(25% - 20px * 3 / 4) 0 0;
    // margin: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid #F0F0F0;
    // padding:15px;
    padding: 30px;
    display: flex;
    flex-direction: column;

    &:nth-child(4n){
      margin-right: 0;
    }
  }

  .main-catalog__item .photo{
    width: 278px;
    // padding-bottom: 100%;
    align-self: center;
  }
  
  .main-catalog__item .photo img{
    width:100%;
    height:auto;
  }
  
  .main-catalog__item .info{
    display:flex;
    justify-content: space-between;
    align-items:center;
  }
  
  .main-catalog__item .title{
    font-family: Yeseva One, cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #111111;
    margin-top: 24px;
  }
  
  .main-catalog__item .price-block{
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .main-catalog__item .price{
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    color: #755AAF;
  }
  
  .main-catalog__item button{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 2px solid #FCECED;
    background-color: transparent;
    margin-top: 20px;
    cursor: pointer;
    transition: all .3s;

    &:hover{
      background-color: #F06A72;
      border-color: #F06A72;

      path{
        fill:#fff;
        transition: all .3s;
      }
    }
  }
  
  .main-catalog__item .price-block .old-price{
    margin-left:10px;
    position: relative;
    font-size: 14px;
    color: #9B9B9B;
  }
  
  .main-catalog__item .price-block .old-price:after{
    content: "";
    display: block;
    width: 100%;
    height:2px;
    background-color: #DF444D;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
  }
  
  .main-catalog__item .price--sale{
    color: #DF444D;
  }
  
  .need-help{
    margin-top: 130px;
    background: linear-gradient(to bottom, #fff 0%, #fff 50%, #F8F0EF 50%, #F8F0EF 100%);
    overflow: hidden;
  }
  
  .need-help__inner{
    background-color: #DF444D;
    margin-left: 13%;
    color: #fff;
    display:flex;
    justify-content: space-between;
    // align-items: center;
    border-radius: 0 0 0 100px; 
    padding: 108px 200px 116px 125px;
    position: relative;
  }
  
  .need-help__inner:before{
    content:"";
    display:block;
    width: 350px;
    height: 350px;
    position: absolute;
    top: -100px;
    right: -200px;
    background-image: url(../img/dotted-pattern.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
    opacity: .5;
  }
  
  .need-help__text{
    margin-right: 50px;
    flex-shrink: 0;
    position: relative;
    z-index:2;
  }
  
  .need-help__title{
    font-family: 'Yeseva One', cursive;
    font-size: 50px;
    line-height: 60px;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  
  .need-help__desc{
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
  }
  
  .need-help__form{
    display:flex;
    flex-wrap:wrap;
    position: relative;
    z-index: 3;
    width: 53%;
    margin-right: 46px;
    margin-top: 7px;
  }
  
  .need-help__form .input-block{
    position: relative;
    flex: 50% 0 0;
    margin-right: 20px;
  }
  
  @media(max-width: 1400px){
    .need-help__form .input-block{
      flex:100% 0 0;
    }
  }
  
  .need-help__form .input-block:before{
    content: "\e802";
    font-family: "icon-font";
    display:flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    position: absolute;
    left:15px;
    top:50%;
    transform: translateY(-50%);
    font-size: 19px;
  }
  
  .need-help__form input{
    height:70px;
    border-radius: 35px;
    padding-left:50px;
    background: #DF444D;
    border: 1px solid #FFFFFF;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    width:100%;
    outline: none;

    
    &::placeholder{
      color:#fff;
      outline: none;
    }
  }
  
  .need-help__form button{
    
  }
  
  @media(max-width: 1400px){
    .need-help__form button{
      margin-top: 15px;
    }
  }
  
  .need-help__form button:hover{
    background-color: #FFD285;
  }

  .need-help input[type="checkbox"]{
    display: none;
  }

  .need-help input[type="checkbox"]+label{
    position: relative;
    margin-top: 30px;
    padding-left: 20px;
  }

  .need-help input[type="checkbox"]+label::before{
    content: "";
    width: 14px;
    height: 14px;
    position: absolute;
    top: 13%;
    left: 0;
    border:1px solid #fff;
    transition: all .3s;
  }

  .need-help input[type="checkbox"]:checked+label::before{
    background-image: url('../img/icons/tick.svg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    border:none;
  }
  
  .need-help__form .agreement{
    font-weight: 300;
    font-size: 13px;
    line-height: 20px;
    width:100%;
    // margin-left: 20px;
  }
  
  .need-help__form .agreement a{
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid #fff;
  }
  
  .footer{
    background: linear-gradient(80.15deg, #F8F0EF 0%, #FAF1FD 100%);

    .logo{
      margin-left: 45px;
      margin-bottom: 30px;
    }
  }
  
  .footer .about{
    display: block;
    margin-top: 20px;
    font-weight: 300;
    font-size: 14px;
    color: #111111;
  }
  
  .footer__top-block{
    list-style: none;
    display: flex;
    padding: 50px 0;
    padding-top: 127px;
    justify-content: space-evenly;
    width: 100%;
  }
  
  .footer-top-block__item{
    margin-right: 10px;

    &:first-child{
      flex: 400px 0 0;
      // text-align: center; 
       margin-right: 15px;
    }

    &:last-child{
      margin-right: 0;
    }
  }
  
  .footer-title{
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    color: #111111;
  }
  
  .socials{
    list-style: none;
  }
  
  .socials{
    display:flex;
    flex-wrap: wrap;
  }
  
  .socials__item{
    flex: calc(50% - 15px);
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: flex-start;
  }
  
  .socials__title{
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: #111111;
  }
  
  .socials__link{
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #111111;
    display: flex;
    align-items: center;
    margin-top: 10px;
    

    &:hover{
      color:#ED4C38;
      // transition: all .3s;

      span{
        border-bottom: 1px solid #ED4C38;
      }
    }

  }
  
  .socials__link i{
    display: inline-flex;
    width:26px;
    height:26px;
    color: #fff;
    background-color: #111111;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
  }
  
  .socials__link span{
    border-bottom: 1px solid #B3AEB1;
    // transition: all .3s;
  }
  
  .contacts{
    display:grid;
    grid-template-areas:  "block_1 block_3"
    "block_2 block_3";
    list-style: none;
  }
  
  .contacts_item{
    margin-top: 20px;
    font-size: 15px;
    line-height: 24px;
    margin-right:15px;
    position: relative;
    padding-left:40px;
  }
  
  .contacts_item:before{
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    // background-color: #111111;
    color: #111;
    position: absolute;
    top:0;
    left:0;
    border-radius: 50%;
    font-family: "icon-font";
    font-size: 18px;
  }
  
  .contacts_item--phone{
    grid-area: block_1;
  }
  
  .contacts_item--phone:before{
    content:"\e802";
  }
  
  .contacts_item--phone a{
    text-decoration: none;
    font-weight: 600;
    color: #111111;
  }
  
  .contacts_item--address{
    grid-area: block_2;
  }
  
  .contacts_item--address:before{
    content:"\e800";
  }
  
  .contacts_item--shedule{
    grid-area: block_3;
  }
  
  .contacts_item--shedule:before{
    content: "\e801";
  }
  
  .footer__bottom-block{
    list-style: none;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
    height: 115px;
    border-top: 1px solid #e4e4e4;
  }
  
  .web-studio{
    display: flex;
    align-items: center;
  }
  
  .web-studio a{
    display:inline-flex;
    align-items: center;
    margin-left: 5px;
  }
  
  .lang-list{
    margin-right: 30px;
  }
  
  .lang-list a{
    color: #755AAF;
    font-weight: bold;
    margin:5px;
  }
  
  .lang-list a.current{
    color: #303030;
    text-decoration: none;
  }
  