@import "_mixins.scss";
@import "_values.scss";

@media (max-width:1800px){
    .main-nav{
        margin-left: 4%;
    }

    .violet-blur{
        left: 20px;
    }

    .orange-blur{
        right: 20px;
    }

    .adv{
        &-slider{
            right: calc(-28% + 4px);
        }
    }

    .need-help{
        &__inner{
            padding: 108px 160px 116px 78px;
        }

        &__form{
            margin-right: 0;
        }
    }
}

@media (max-width:1650px){
    .header .logo{
        padding: 0;
    }
    
    .header .logo img{
        width: 100px;
    }

    .lang-list {
        margin-right: 10px;
    }

    .main-nav {
        margin-left: 4%;

        &__link{
            font-size: 15px;
        }
    }
}

@media (max-width:1600px){
    // .main-nav{
    //     // margin-left: 4%;

    //     &__link{
    //         font-size:17px;
    //     }
    // }

    .adv-slider{
        right: calc(-50% + 15px);
        width: 51%;
    }
}

@media (max-width:1500px){
    .main-nav {
        // margin-left: 4%;

        &__link{
            // font-size: 15px;
            margin-right: 25px;
        }
    }

    .section-title{
        font-size:46px;
    }

    .wrapper{
        margin:0 auto;
        width: 1140px;
    }

    .img1-block{
        width: 250px;

        img{
            width: 250px;
            height: 250px;
        }
    }

    .img2-block{
        width: 280px;

        img{
            width: 280px;
            height: 280px;
        }
    }

    .services-list{
        &_item{
            line-height: 68px;

            a{
                font-size: 40px;
            }
        }
    }

    .adv-slider {
        right: calc(-42% + 15px);
        width: 62%;
    }

    .main-catalog{
        &__list{

        }

        &__item{
            flex: calc(33.3% - 20px * 2 / 3) 0 0;
            
            &:nth-child(3n){
                margin-right: 0;
            }

            &:nth-child(4n){
                margin-right: 20px;
            }
        }
    }

    .need-help{
        &__title{
            font-size: 46px;
        }

        &__desc{
            font-size: 22px;
        }

        &__form{
            flex-direction: column;
            width: 500px;
            margin-right: 30px;

            .input-block{
                margin-right: 0;
                margin-bottom: 15px;
            }
        }
    }

    .footer-top-block__item{

        &:first-child{
            flex:330px 0 0;
        }
        
    }

    .catalog{
        .main-catalog__item{
            flex: calc(50% - 20px * 1 / 2);
            margin-right: 20px;

            &:nth-child(3n), &:nth-child(4n){
                margin-right: 20px;
            }

            &:nth-child(2n){
                margin-right: 0;
            }
        }
    }

    .card{
        &-form{
            &__submit{
                padding: 0 30px;
                font-size: 15px;
            }
        }
    }

    .cart{
        &__aside{
            width: 380px;
            padding: 30px;

            
        }

        &__promo{
                input{
                    margin-bottom: 15px;
                }
            }

        table{
            width: calc(100% - 380px - 20px - 13px);

            tr{
                >:last-child{
                    width: 12%;
                }
            }

            td{
                padding: 10px;
            }
        }

        &-item{
            &__del{
                width: 25px;
                height: 25px;

                img{
                    width: 100%;
                    height: 100%;
                }
            }

            &__brief{
                flex-direction: column;

                .presense{
                    border: none;
                    margin-bottom: 5px;
                }

                .art{
                    margin-left: 0;
                }
            }
        }
    }


}

@media (max-width:1350px){
    .header{
        height: 100px;
    }

    .main-nav{
        margin-left: 3%;

        &__link{
            font-size:15px;
        }
    }

    .search-block{
        width: 280px;
    }

    .main-nav{
        &__link{
            margin-right: 12px;
            font-size: 14px;
        }
    }
}

@media (max-width:1199px){
    body{
        background-image: url('../img/dotted-pattern-rose.png');
        background-position: left 0 top 176px;
        background-size: auto;
    }

    .wrapper{
        width: 960px;
    }

    .section-title {
        font-size: 38px;
    }

    .section-subtitle{
        font-size: 20px;
    }

    .lang-list{
        margin-right: auto;
        // margin-left: 30px;
        margin-left: 25px;
    }

    .header{
        background-color: #F0E2E0;

        &__search-block{}
        &__cart{
            margin-right: 20px;
        }
    }

    .main-slider-block{
        margin-top: 100px;
    }

    .close-btn{
        display: block;
        position: absolute;
        top: 20px;
        right:20px;
    }

    .main{
        margin-top: 100px;
    }

    .main-nav{
        margin: 0;
        position: fixed;
        top: 0;
        left:-100%;
        width:300px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        background-color:#F0E2E0;
        transition: all .3s;
        padding-top:30px;
        // z-index: 15;

        &.opened{
            left: 15px;
        }

        &__link{
            margin-right: 0;
            text-align: left;
            padding-left: 30px;
            font-size: 20px;
            font-weight: 500;

            &--active{
                color:#755AAF;

                &::after{
                    display:none;
                    
                }
            }
        }
    }


    .main-nav-btn {
        padding: 3px 0 0 !important;
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        position: relative;

        &:hover{
            cursor: pointer;
        }
    }

    .main-nav-btn span {
        display: block;
        width: 23px;
        height: 3px;
        background-color: #755AAF;
        margin-bottom: 4px;
    }

    .img1-block{
        width: 200px;

        img{
            width: 200px;
            height: 200px;
        }
    }

    .img2-block{
        width: 250px;

        img{
            width: 250px;
            height: 250px;
        }
    }

    .services-list{
        &_item{
            line-height: 58px;

            

            a{
                font-size: 30px;
            }
        }

        &__list:after{
            height: 75px;
        }
    }

    .adv-slider{
        width: 340px;
        right: unset;
        margin-left: auto;
    }

    .main-catalog{
        &__item{
            padding: 15px;

            .photo{
                width: 270px;
                
            }
        }
    }

    .need-help{
        &__inner{
            padding: 80px 160px 80px 160px;
            flex-direction: column;
            align-items:center;
        }

        &__text{
            margin-bottom: 20px;
            margin-right: 0;
            text-align: center;
        }

        &__title{
            font-size: 38px;
            margin-bottom: 0;
        }

        &__desc {
            font-size: 20px;
        }

        &__form{
            margin-right: 0;
        }
    }

    .footer-top-block{
        padding:30px 0;
        flex-wrap: wrap;

        &__item{
            &:first-child, &:nth-child(2){
                flex-basis: 50%;
                margin-right: 0;
            }

            &:last-child{
                flex-basis: 100%;
                margin-top: 30px;

                .footer-title{
                    text-align: center;
                }
            }
        }
    }

    .contacts_item{
        padding-left: 30px;
    }

    .contacts_item--shedule{
        margin-left: 88px;
    }

    .catalog{
        .main-catalog__item{
            .photo{
                width: 255px;

                img{
                    width: 255px;
                }
            }
        }
    }

    .filters{
        &-list{
            margin-bottom: 20px;
        }

        &-sort{
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
        }
    }

    .sort{
        align-self: flex-end;
    }

    .card{
        &-form{
            flex-direction: column;
            align-items: flex-start;

            &__count{
                margin-bottom: 20px;
            }
        }
    }

    .cart{
        flex-direction: column;

        &__aside{
            width: 100%;
            margin-left: 0;

        }

        table{
            width: 100%;            
        }
    }

    .contacts-page{
        &__content{
            .contacts_item--shedule{
                margin-left: 0;
            }
        }
    }
}

@media(max-width: 991px){
    .wrapper{
      width: 720px;
    }

    .img1-block{
        width: 130px;

        img{
            width: 130px;
            height: 130px;
        }
    }

    .img2-block{
        width: 160px;

        img{
            width: 160px;
            height: 160px;
        }
    }

    .services-list{
        &__title{
            font-size: 26px;
        }

        &_item{
            line-height: 53px;

            a{
                font-size: 27px;
            }
        }
    }

    .main-catalog{
        &__item{
            flex:calc(50% - 20px * 1 / 2) 0 0;

            &:nth-child(3n), &:nth-child(4n){
                margin-right: 20px;
            }

            &:nth-child(2n){
                margin-right: 0;
            }

            .photo{
                width: 295px;
            }
        }
    }

    .need-help{
        &__inner{
            padding: 80px 80px 80px 80px;
        }
    }

    .contacts{
        grid-template-columns: 1fr 1fr;

        &_item--shedule{
            margin-left: 60px;
        }
    }

    .inner-wrapper{
        flex-direction: column;

        &__content{
            width: 100%;
            margin-left: 0;
        }
    }

    .aside{
        width: 100%;
    }

    .filters{
        display: none;
        &__show-btn{
            display: block;
        }
    }

    .filter{
        &-select{
            width: 100%;
        }
    }

    .catalog{
        .main-catalog__item{
            .photo, .photo img{
                width: 300px;
            }
        }
    }

    .range{
        &.ui-widget.ui-widget-content{
            width: 100%;
        }

        &__values{
            margin: 0 auto 20px;
        }
    }

    .cart{
        table{
            tr{
                >:last-child{
                    width: 16%;
                }
            }

            td:first-child{
                flex-direction: column;
            }
        }

        &-item{
            &__desc{
                margin-left: 0;
                padding-top: 10px;
            }

            &__title{
                margin-bottom: 5px;
            }
        }
    }
    
    .gallary{
        grid-gap: 10px;
    }

    .contacts-page{
        &__inner{
            flex-direction: column;
        }

        &__content{
            margin-right: 0;
        }

        .socials{
            margin-bottom: 50px;
        }
    }

    #map{
        width: 100%;
        min-height: 600px;
        height: 600px;
    }
    
  }

@media(max-width: 767px){
    body{
        background: none;
    }

    .wrapper{
      width: 540px;
    }

    .header{
        &__search-block{
            border: none;
            padding: 0;
        }

        &-cart{
            // margin: 0 10px;

            &__count{
              width: 23px;
              height: 23px;
              font-size: 11px;
              margin-left: 0px;
            }
        }
    }

    .main-slider{
        .slick-dots li {
            width: 25px;
            height: 4px;
            margin-right: 11px;
        }
    }

    .services-list{

        &__list::after{
            height: 43px;
        }

        &__title {
            font-size: 19px;
        }

        &_item{
            line-height: 43px;

            a{
                font-size: 20px;
            }
        }
    }

    .img1-block{
        width: 100px;

        img{
            width: 100px;
            height: 100px;
        }
    }

    .img2-block{
        width: 120px;
        
        img{
            width: 120px;
            height: 120px;
        }
    }

    .adv{

        &__title{
            margin-top: 110px;
            text-align: center;
        }

        &__text{
            align-items: center;
        }

        &-slider{
            position: static;
            margin: 20px auto 0;

            &__nav{
                margin-top: 10px;

                .slick-arrow{
                    width: 75px;
                    height: 50px;
                }
            }
        }
    }

    .main-catalog{
        margin-top: 190px;

        &__item{
            .photo{
                width: 228px;
            }

            .price-block{
               .price, .old-price{
                    font-size: 12px;
                } 
            }
            
        }
    }

    .need-help{
        &__inner{
            padding: 80px 30px;
        }

        &__form{
            width: 400px;
        }
    }

    .footer{
        &-top-block{

            &__item{
                &:first-child{
                    flex-basis: 30%;
                }

                &:nth-child(2){
                    flex-basis: calc(70% - 30px);
                    margin-left: 30px;
                }
            }
            
        }

        .logo{
            width: 150px;
            margin-left: 0;

            img{
                width: 150px;
            }
        }

        .about{
            font-size: 12px;
            text-align: center;
        }
    }

    .socials{

        &__title, &__link{
            font-size:12px;
        }
    }

    .contacts{
        &_item{
            font-size: 12px;
        }
    }

    .catalog{
        .main-catalog__item{
            .photo, .photo img{
                width: 225px;
            }
        }
    }

    .card{
        flex-direction: column;

        &__imgs{
            width: 100%;
        }

        &__info{
            width: 100%;
            margin-left: 0;
        }

        &-form{
            flex-direction: row;
        }
    }

    .contacts-page{
        &__content{
            .contacts{
                &_item{
                    font-size: 14px;
                    line-height: 22px;
                }
            }
        }
    }

    .search-block{
        width: auto;
        border: none;
    }

    .search-form{
        position: fixed;
        top: 101px;
        border-radius: 0;
    }
  }
  
@media(max-width: 575px){
    .wrapper{
      width: 100%;
      padding:0 15px;
    }

    .section-title{
        font-size: 30px;
        padding: 0 20px;
    }

    .header{
        padding: 6px 12px 0 12px;

        .logo{
            width: 90px;

            img{
                width: 90px;
            }
        }
    }

    .services-list{
        margin-top: 50px;

        &__title{
            text-align: center;
            padding: 0 20px;
            font-size: 21px;

            &::before, &::after{
                display: none;
            }
        }

        &__block{
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }
    }

    .img1-block{
        align-self: unset;
        height: 100px;
    }

    .img2-block{
        height: 120px;
    }

    .violet-blur{
        left: 30px;
        width: 120px;
        height: 120px;
    }

    .orange-blur{
        right: 30px;
        width: 100px;
        height: 100px;
    }

    .adv{
        background-image: url('../img/adv-slider-bg.png');
        background-repeat: no-repeat;
        background-position: top 100px left 0;
    }

    .main-catalog{
        &__item{
            flex-basis: calc(50% - 20px);
            margin:0 10px 20px;

            .photo{
                width: 100%;
            }

            .price-block{
                flex-direction: column;
                align-items: flex-start;

                .old-price{
                    margin-left: 0;
                }
            }

            .title-price{
                max-width: calc(100% - 50px);
            }

            button{
                width: 50px;
                height: 50px;
            }
            
        }
    }

    .need-help{
        &__inner{
            margin-left: 0;
            padding: 40px 20px;
        }

        &__form{
            width: 100%;
        }
    }

    .footer{
        &-title{
            text-align: center;
        }

        &-top-block{
            padding: 0 12px 20px;

            &__item{
                &:first-child{
                    margin-top: 20px;
                    flex-basis: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                &:nth-child(2){
                    flex-basis: 100%;
                    margin-left: 0;
                    margin-top: 30px;
                }
            }
        }

        &__bottom-block{
            padding: 0 12px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .logo{
            margin-bottom: 0;
            width: 100px;

            img{
                width: 100px;
            }
        }

        .about{
            margin-top: 10px;
        }
    }   

    .socials{
        &__item{
            align-items: center;
        }
    }
    
    .web-studio{
        margin-top: 10px;
    }

    .catalog{
        .main-catalog__item{
            // flex: 100% 0 0;
            margin: 0 20px 30px 0;

            &:nth-child(2n){
                margin-right: 0;
            }

            .photo, .photo img{
                width: 100%;
            }
        }
    }

    .card{
        &-slider_small{
            padding: 0 30px;

            .slick-arrow{
                width: 15px;
                height: 30px;
            }
        }

        &-slider_big{
            margin-top: 0;
        }

        &-form{
            flex-direction: column;
        }
    }

    .page-title{
        font-size: 42px;
    }

    .cart{
        table{

            tr{
                display: flex;
                // flex-direction: column;
                flex-wrap: wrap;
                justify-content: stretch;

                >:first-child{
                    width: 100%;
                    flex-direction: row;
                }

                >:nth-child(2){
                    width: 45%;
                }

                >:nth-child(3){
                    width: 35%;
                }

                >:last-child{
                    width: 20%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }


            th:not(:last-child){
                display: none;
            }

            th:last-child{
                width: 100%;
                // text-align: right;
                display: flex;
                justify-content: flex-end;
            }
        }

        &-item{
            &__desc{
                margin-left: 15px;}
        }
    }

    .gallary{
        grid-template-columns: 50% 50%;
        grid-template-areas:   "left-big  left-big "
                               "small-2   small-3  "
                               "small-4   small-5  "
                               "right-big right-big"
                               "small-6   small-7  "
                               "small-8   small-9 ";
        grid-template-rows: 200px;
    }

    .about{
        font-size: 13px;

        h2{
            font-size:25px;
            margin-top: 40px;
        }

        p{
            padding-bottom: 25px;
        }

        blockquote{
            font-size: 16px;
        }

        table{
            td, th{
                padding: 15px;
            }
        }
    }
}

@media (max-width:460px){
      .header{
        .logo{
            width: 70px;

            img{
                width: 70px;
            }
        }

        &-cart{
            margin: 0 10px;
        }
      }

      .main-catalog{
          &__item{
              flex-basis: calc(100% - 20px);
          }
      }

      .contacts_item--shedule{
        margin-left: 0;
      }

    .lang-list{
        display: flex;
        flex-direction: column;

       a{
            margin: 2px;
            font-size: 12px;
        }
    } 

    .catalog{
        .main-catalog__item{
            flex:100% 0 0;
            margin:0 0 30px 0;
        }
    }

    .sort{
        align-self: flex-start;
    }
  }

@media (max-width:400px){
    .contacts{
        grid-template-columns: 1fr;
        grid-template-areas:
            "block_1"
            "block_2"
            "block_3";

        &_item{
            // padding-left: 20px;
            margin-left: 10px;
        }
    }

    .cart{
        table{
            tr{
                >:nth-child(2){
                    width: 55%;
                }

                >:nth-child(3){
                    width: 45%;
                }

                >:last-child{
                    width: 100%;
                }
            }
        }

        &-item{
            &__cost{
                font-size: 17px;
            }

            &__old-cost{
                font-size: 13px;
            }

            &__count{
                width: 135px;

                input{
                    font-size: 17px;
                }
            }
        }

        &__total-cost{
            flex-direction: column;
            padding-bottom: 0;
        }

        &__promo{
            width: 100%;
            input{
                width: 100%;
            }
        }
    }

    .contacts-page{
        &__content{
            .contacts{
                &_item{
                    margin-left: 0;
                }
            }

            .socials__item{
                margin-right: 0;
            }
        }
    }

    #map{
        min-height: 400px;
        height: 400px;
    }
}

@media (max-width:340px){
    .adv-slider{
        width: 100vw;

        .slick-slide{
            width: 100vw !important;

            img{
                width: 100vw;
            }
        }
    }
}