@import "_mixins.scss";
@import "_values.scss";
@import "_UI.scss";
@import "_index.scss";

.main-nav-btn{
    display: none;
}

.adv{
    position: relative;
    background-image: url('../img/adv-slider-bg.png'), url('../img/dotted-pattern-rose.png');
    background-repeat: no-repeat;
    background-position: top 100px left 0, top 0 left 5px;
    background-blend-mode: overlay;
    margin-top: 56px;
    max-height: 625px;

    &__inner{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__title{
        text-align: left;
        margin-bottom: 4px;
        margin-top: 220px;
        font-size: 50px;

        &::after{
            display: none;
        }
    }

    &__text{
        display: flex;
        flex-direction: column;
    }

    &-slider{
        top: -436px;
        right: calc(-33% + 4px);
        position: relative;
        width:77%;
        height: 450px;

        .slick-slide{
            // width:370px !important;
            outline: none;
            // margin:0 10px;
        }

        &__nav{
            display: flex;
            margin-top: 46px;

            .slick-arrow{
                border: none;
                outline: none;
                background-color: #fff;
                width: 100px;
                height: 65px;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all .3s;

                &:hover{
                    background-color: #F06A72;
                    cursor: pointer;

                    path{
                        fill:#fff;
                    }
                }
            }

            .slick-prev{
                border-radius: 50px 0px 0px 50px;
                position: relative;

                &::after{
                    content: "";
                    background-color: #ECECEC;
                    height: 25px;
                    width: 1px;
                    position: absolute;
                    left: 100%;
                }
            }

            .slick-next{
                border-radius: 0px 50px 50px 0px;
            }
        }

        
    }
}

.close-btn{
    display: none;
    border:none;
    background: none;
    outline: none;
    &:hover{
        cursor: pointer;
    }
}

.breadcrumbs{
    display: flex;
    margin: 0;
    padding: 0;
    padding-top: 32px;
    padding-bottom: 32px;
    list-style: none;
    flex-wrap: wrap;

    &__item{
        font-family: Montserrat;
        font-style: normal;
        font-size: 14px;
        line-height: 171%;
        color: #111111;
        // margin: 0 20px;
        margin-right: 40px;
        font-weight: 600;

        &:first-child{
            margin-left: 0;
        }
    }

    &__link{
        text-decoration: none;
        font-weight: 300;
        position: relative;

        &::after {
            content: "";
            display: block;
            background-color: #cccccc;;
            width: 16px;
            height: 1px;
            position: absolute;
            top: 55%;
            right: -30px;
            transform: rotate( -69deg);
        }
    }
}

.inner-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &__content{
        width: calc(100% - 340px - 20px);
        margin-left: 20px;
        padding-top: 17px;
    }
}

.aside{
    width: 340px;
    background: #FFFFFF;
}

.filters{
    padding-bottom: 50px;
    border: 1px solid #F0F0F0;

    &__range, &__checkbox, &__select{
        padding: 35px 30px;

        &:not(:last-child){
            border-bottom: 1px solid #F0F0F0;
        }
    }

    &-sort{
        display: flex;
        justify-content: space-between;

    }

    &-list{
        list-style: none;
        display: flex;
        flex-wrap:wrap;
        margin-top: 5px;
        // align-items: center;

        &__item{
            margin-right: 15px;
            margin-bottom: 10px;

            .filter__title{
                // font-size:14px;
                margin-bottom: 0;
            }
        }
    }

    &__show-btn{
        display: none;
        width: 100%;
        padding: 18px 0;
        background: $rose;
        border-radius: 55px;
        border: none;
        font-family: Yeseva One;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 133%;
        color: #FFFFFF;
        margin-bottom: 15px;
        transition: all .3s;

        &:hover{
            cursor: pointer;
            background:$paleRose;
        }
    }
}

.filter{
    &__title{
        font-family: Yeseva One;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        // line-height: 133%;
        line-height: 30px;
        color: #111111;
        margin-bottom: 14px;
    }

    &-select{
        width: 280px;
        height: 50px;
        background: #F7F7F7;
        border: 1px solid #ECECEC;
        border-radius: 25px;
        margin-bottom: 30px;

        &:hover{
            border: 1px solid #B1B1B1;
            background: #fff;
        }

        .current{
            line-height: 50px;
        }

        .list{
            width: 100%;
            margin-top: 0;
            border-top: none;
            border: 1px solid #ECECEC;
            border-radius: 0 0 25px 25px;
        }

        span{
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 214%;
            color: #818181;
        }

        &::after{
            border-color: $rose;
            right: 22px;
        }

        &.open{
            border-radius: 25px 25px 0 0;
            border: 1px solid #ECECEC;
            background: #fff;

            .option, .option.selected{
                background: #fff;
                font-weight: 300;

                &:hover{
                    color:$paleRose;
                }
            }
        }
    }

    &__button{
        padding:0 13px;
        height: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #F7F7F7;
        border: 1px solid #ECECEC;
        border-radius: 40px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 214%;
        color: #111111;
        transition: all .3s;;

        span{
            margin-right: 7px;
        }

        path{
            stroke: #111111;
            opacity: 0.4;
            transition: all .3s;
        }

        &:hover{
            cursor: pointer;

            path{
                stroke: #F06A72;
                opacity: 1;
            }
        }
    }

    &__clear-all{
        color: #DF444D;
        background-color: #fff;
        border: 1px solid rgba(223, 68, 77, 0.2);

        &:hover{
            border:1px solid rgb(223, 68, 77);
        }
    }

    &__see-more{
        border: none;
        background: none;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 179%;
        color: #DF444D;
        margin-top: 6px;
        transition: all .3s;

        &:hover{
            cursor: pointer;
            color: #F06A72;
        }
    }
}

.range{
    &__values{
        width: 280px;
        height: 50px;
        display: flex;
        margin-bottom: 15px;
        
        span{
            font-weight: 600;
            color: #111111;
            margin-left: 10px;
        }
    }

    &__from{
        background: #F7F7F7;
        border: 1px solid #ECECEC;
        border-radius: 40px 0 0 40px;
        width: 50%;
        height: 100%;
        border-right: none;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 50px;
        color: #818181;
        padding: 0 25px;
    }

    &__to{
        background: #F7F7F7;
        border: 1px solid #ECECEC;
        border-radius: 0 40px 40px 0;
        width: 50%;
        height: 100%;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 50px;
        color: #818181;
        padding: 0 25px;
    }

    &.ui-widget.ui-widget-content{
        width: 280px;
        height: 5px;
        background: #ECECEC;
        border-radius: 5px;
        border:none
    }

    &.ui-slider .ui-slider-range{
        background: $rose;
    }

    &.ui-slider .ui-slider-handle{
        width: 7px;
        height: 17px;
        background: #DF444D;
        border-radius: 3px;
        border: none;
        outline:none;
    }
}

.sort{
    display: flex;
    align-items: center;
    justify-content: flex-end;

    label{
        font-family: 'Yeseva One', cursive;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        color: #111111;
    }

    &-select{
        padding-left: 12px;
        padding-right: 15px;
        border: none;
        min-width: 146px;

        .current{
            font-family: Yeseva One;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 150%;
            color: #755AAF;
            transition: all .3s; 
            border: none;
        }

        &::after{
            border-color: #755AAF;
            right: 0;
        }

        &:hover{
            .current{
                color:#A28BD3;

                
            }

            &::after{
                border-color: #A28BD3;
            }
        }

        .list{
            width: 100%;
            background: #FFFFFF;
            border: 1px solid #ECECEC;
            box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.05);
            border-radius: 20px;
            padding: 11px 20px;

            .option, .option.selected{
                background: #fff;
                font-family: Yeseva One;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                // line-height: 283%;
                color: #111111;
                padding: 0;

                &:hover{
                    background: inherit;
                    color:#A28BD3;
                }
            }
        }
    }
    
}

.catalog{
    display: flex;
    flex-direction: column;
    margin-top: 23px;
    padding-bottom: 150px;
    align-items: center;

    &__list{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;

        .main-catalog__item{
            flex: calc(33% - 20px * 2 / 3) 0 0;
            margin-right: 20px;

            &:nth-child(3n){
                margin-right: 0;
            }

        }
    }

    &__see-more{
        padding: 18px 45px;
        font-family: Yeseva One;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 133%;
        color: #DF444D;
        background: #FFFFFF;
        border: 1px solid rgba(223, 68, 77, 0.2);
        border-radius: 60px;
        transition: all .3s;

        &:hover{
            border: 1px solid #F06A72;
            cursor: pointer;
        }

        i{
            margin-right: 10px;
        }
    }
}

.card{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .page-title{
        margin-bottom: 15px;
    }

    &__photos{
        // flex: calc(50%) 0 0;
    }

    &__imgs{
        width:50%;
        padding: 0 5px;
    }

    &__info{
        flex: calc(50% - 50px) 0 0;
        margin-left: 50px;
    }

    &__brief{
        width: 100%;
        display: flex;
        margin-bottom: 35px;
    }

    &-slider{
        &_big{
            max-width: 100%;
            // width: 100%;
            margin-bottom: 10px;
            margin-top: 50px;
        }

        &_small{
            max-width: 100%;
            // width: 100%;
            padding: 0 60px;
            position: relative;

            .slick-slide{
                padding: 0 10px;
                outline: none;

                &:hover{
                    cursor: pointer;
                }
            }

            .slick-arrow{
                background: none;
                position: absolute;
                width: 22px;
                height: 44px;
                font-size: 0;
                border: none;
                outline: none;
                top:50%;
                transform: translateY(-50%);

                img{
                    width: 100%;
                    height: 100%;
                }

                &:hover{
                    cursor: pointer;
                }

                &.slick-next{
                    right: 0;
                }

                &.slick-prev{
                    left: 0;
                }
            }
        }
    }


    .desc{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 171%;
        color: #111111;
        padding-bottom: 27px;
        border-bottom: 1px solid #ECECEC;
    }

    .params{
        padding-top: 35px;
        padding-bottom: 25px;
        border-bottom: 1px solid #ECECEC;

        table{
            th{
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 187%;
                color: #111111;
                text-align: left;
                padding-right: 33px;
                vertical-align: top;
            }

            td{
                font-family: Montserrat;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 187%;
                color: #111111;
                vertical-align: top;
            }
        }
    }

    &-form{
        margin-top: 40px;
        display: flex;
        margin-bottom: 32px;

        &__count{
            width: 200px;
            height: 60px;
            background: #F7F7F7;
            border: 1px solid #ECECEC;
            border-radius: 40px;
            position: relative;
            margin-right: 30px;
            
            input{
                width: 100%;
                height: 100%;
                border: none;
                outline: none;
                background: transparent;
                text-align: center;
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 21px;
                line-height: 143%;
                color: #818181;

            }

            button{
                position: absolute;
                width: 16px;
                height: 16px;
                top: 50%;
                transform: translateY(-50%);
                color: #DF444D;
                font-size: 20px;
                font-weight: 600;
                font-family: sans-serif;
                border: none;
                outline: none;
                background: transparent;
                
                &:hover{
                    cursor: pointer;
                }

                &.inc{
                    right: 24px;
                }

                &.dec{
                    left: 24px;
                }
            }
        }

        &__submit{
            display: flex;
            align-items: center;
            height: 60px;
            padding: 0 60px;
            background: #DF444D;
            border-radius: 50px;  
            border: none;
            outline: none;
            font-family: Yeseva One;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 60px;
            color: #FFFFFF;
            transition: all .3s;

            &:hover{
                background: $paleRose;
                cursor:pointer;
            }


            img{
                margin-right: 14px;
            }
            

        }
    }

    .alarm{
        display: flex;
        align-items: center;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 187%;
        color: #111111;
        position: relative;
        padding-left: 32px;

        img{
            left: 0;
            top:2px;
            // margin-right: 12px;
            position: absolute;
        }
    }

    &+.main-catalog{
        margin-bottom: 128px;
        margin-top: 120px;

        .main-catalog__list{
            margin-top: 40px;
        }

        .main-catalog__see-all{
            margin-top: 20px;
        }

        .section-title{
            margin-bottom: 40px;
            &:after{
                display: none;
            }
        }
    }
}

.presense{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #409A64;
    position: relative;
    padding-left:18px;
    padding-right: 16px;
    border-right: 1px solid #9B9B9B;

    &::before{
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 11px;
        height: 8px;
        background-color: #409A64;
        clip-path: polygon(45% 64%, 84% 14%, 100% 28%, 47% 100%, 0 49%, 15% 32%);
    }
}

.art{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 100%;
    color: #9B9B9B;
    margin-left: 15px;
}



.cart{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: -10px;

    &__aside{
        width: 444px;
        background: linear-gradient(80.15deg, #F8F0EF 0%, #FAF1FD 100%);
        border-radius: 0px 0px 70px 0px;
        padding: 47px 52px 43px;
        margin-left: 20px;
        margin-top: 40px;
        margin-right: 13px;
    }

    &__total-amount{
        font-family: Yeseva One;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 24px;
        color: #111111;
        margin-bottom: 26px;
    }

    &__total-cost{
        display: flex;
        padding-bottom: 50px;
        border-bottom: 1px solid #ECECEC;
        // align-items: flex-end;
    }

    .cost{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-right: 27px;

        &__old{
            display: inline-block;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 139%;
            text-align: center;
            color: #9B9B9B;
            position: relative;
            margin-bottom: 14px;

            &::before{
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                transform: translateY(-50%);
                width: 100%;
                height: 1px;
                background: $rose;
            }
        }

        &__new{
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 40px;
            line-height: 50%;
            color: #252525;
        }
    }

    .discount{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        color: #DF444D;
        margin-top: 27px;
    }

    &__promo{
        margin-top: 16px;

        label{
            padding-bottom: 8px;
            display: block;
        }

        input{
            outline: none;
            width: 200px;
            height: 40px;
            background: #FFFFFF;
            border: 1px solid #ECECEC;
            border-radius: 40px;
            padding:0 15px;
            line-height: 40px;
            margin-right: 10px;
        }

        button{
            outline: none;
            background: none;
            width: 122px;
            height: 40px;
            border: 1px solid rgba(223, 68, 77, 0.4);
            box-sizing: border-box;
            border-radius: 35px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 40px;
            color: #DF444D;
            transition: all .3s;

            &:hover{
                cursor: pointer;
                border-color: $rose;
                
            }
        }
    }

    span, label{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 185%;
        color: #9B9B9B;
    }

    &__submit{
        margin-top: 18px;
        margin-bottom: 14px;
        border: none;
        outline: none;
        font-family: Yeseva One;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 133%;
        color: #FFFFFF;
        width: 100%;
        height: 60px;
        background: #DF444D;
        border-radius: 55px;
        transition: all .3s;

        &:hover{
            cursor: pointer;
            opacity: 0.8;
        }
    }

    table{
        width: calc(100% - 444px - 20px - 13px);
        border-collapse: collapse;
        background: #fff;

        tr{
            // width: 100%;
        }

        tr>:first-child{
            width: auto;
        }

        tr>:nth-child(2){
            width: 22%;
        }

        tr>:nth-child(3){
            width: 21%;
        }

        tr>:last-child{
            width: 15%;
        }

        th{
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 235%;
            color: #9B9B9B;
            text-align: left;
            padding-left: 23px;
            padding-bottom: 10px;

            &:not(:first-child){
                text-align: center;
                padding-left: 0;
            }
        }

        td{
            border: 1px solid #F0F0F0;
            padding: 20px;

            &:not(:first-child){
                text-align: center;
            }
            

            &:first-child{
                display: flex;
            }

            &:nth-child(2){
                // display: flex;
                // flex-direction: column;
                // align-items: center;
            }
        }
    }

    &__clear-all{
        background: none;
        border: none;
        outline: none;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        color: #D63838;
        transition: all .3s;

        i{
            margin-right: 6px;
        }

        &:hover{
            cursor: pointer;
            opacity:0.8;
        }
    }

    &-item{
        &__img{
            width: 100px;
            height: 100px;

            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        &__desc{
            margin-left: 18px;
            padding-top: 21px;
        }

        &__brief{
            display: flex;

            .presense{
                font-size: 12px;
            }

            .art{
                font-size: 12px;
            }
        }

        

        &__title{
            font-family: Yeseva One;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 133%;
            color: #111111;
            margin-bottom: 20px;
        }

        &__count{
            width: 145px;
            height: 24px;
            position: relative;
            display: inline-block;
            margin-top: 7px;

            input{
                width: 100%;
                height: 100%;
                border: none;
                outline: none;
                background: none;
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 21px;
                line-height: 143%;
                text-align: center;
                color: #818181;
            }

            button{
                background: none;
                outline: none;
                border: none;
                position: absolute;
                color:$rose;
                width: 24px;
                height: 24px;
                background: #F7F7F7;
                border: 1px solid #ECECEC;
                box-sizing: border-box;
                border-radius: 40px;
                top: 50%;
                transform: translateY(-50%);

                &:hover{
                    cursor: pointer;
                }

                &.inc{
                    right: 0px;
                }

                &.dec{
                    left: 0px;
                }

                i{
                    font-size: 12px;
                    line-height: 24px;
                }
            }
        }

        &__price{
            margin-top: 8px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 185%;
            text-align: center;
            color: #9B9B9B;
        }

        &__cost{
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 21px;
            line-height: 143%;
            text-align: center;
            color: #755AAF;
        }

        &__old-cost{
            display: inline-block;
            position: relative;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 179%;
            text-align: center;
            color: #9B9B9B;

            &::before{
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                transform: translateY(-50%);
                width: 100%;
                height: 1px;
                background: $rose;
            }
        }

        &__del{
            border: none;
            outline: none;
            background: none;
        }
    }

    &+.main-catalog{
        margin-top: 110px;
        margin-bottom: 123px;

        .section-title{
            margin-bottom: 40px;

            &::after{
                display: none;
            }
        }

        .main-catalog__list{
            margin-top: 40px;
        }
    }
}